//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 13 11:08:56 2019
//! **************************************************************************

SCHEMATIC START;
COMP "zero_led" LOCATE = SITE "P16" LEVEL 1;
COMP "clk" LOCATE = SITE "P40" LEVEL 1;
COMP "test_led" LOCATE = SITE "P93" LEVEL 1;
COMP "start" LOCATE = SITE "P37" LEVEL 1;
COMP "state_binary<0>" LOCATE = SITE "P6" LEVEL 1;
COMP "state_binary<1>" LOCATE = SITE "P3" LEVEL 1;
COMP "reset" LOCATE = SITE "P32" LEVEL 1;
COMP "dec_led" LOCATE = SITE "P13" LEVEL 1;
COMP "LEDs<0>" LOCATE = SITE "P86" LEVEL 1;
COMP "LEDs<1>" LOCATE = SITE "P84" LEVEL 1;
COMP "LEDs<2>" LOCATE = SITE "P83" LEVEL 1;
COMP "LEDs<3>" LOCATE = SITE "P77" LEVEL 1;
SCHEMATIC END;

